.wrapper {
  display: flex;
}
.input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
}
.toggle {
  width: 100%;
  height: 50px;
}
.cats {
  display: flex;
}
.cats__title {
  margin-top: 15px;
  margin-right: 10px;
  color: white;
}
.select-setting {
  margin-bottom: 10px;
}
.form {
  margin-left: 20px;
  position: fixed;
  right: 30px;
}
.table-head th {
  position: sticky;
  top: 0;
  background-color: #edeef0;
}
.table {
  max-width: 70%;
}
.tbody tr:hover {
  cursor: pointer;
  color: #42648b !important;
  background-color: #edeef0;
}
